@import "../index.css";

.fc-media-screen{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.fc-daygrid-day-frame:hover{
    cursor: pointer;
    background-color: var(--nav-hover);
}
.fc-event-title-container:hover{
    cursor: pointer;
    background-color: var(--text-hover);
}